#############Exports#############
## core functions
export(meta2DF)
export(meta2DF.metabin)
export(meta2DF.metacont)
export(metaDF2Matrix)
export(metaDF2Matrix.metabinDF)
export(metaDF2Matrix.metacontDF)
export(meta2DF.meta.MH)
export(meta2DF.meta.DSL)
export(meta2DF.rma.mh)
export(meta2DF.rma.peto)
export(meta2DF.rma.uni)
export(drawMeta)
export(drawMetaBasic)
export(drawMeta.metabinM)
export(drawMeta.metacontM)

## make descriptions and labels
export(makeColDesc)
export(makeCIDesc)
export(makeMSDDesc)
export(mainGen)
export(addCols)
export(setUpRound)
export(roundUpCols)
export(makeStatsDesc)
export(makeStats)
export(addStats)
export(addLabel)
export(heteroGen)
export(setGroupLabel)

## specify graphical parameters
export(metaPar)
export(metaParDefaults)
export(resetDefaults)

## print
export(print.metabinDF)
export(print.metaPar)

## make hetero stats descriptions
export(makeStatDesc)
export(makeLabelDesc)

## convenience functions
export(metaPlot)
export(metaPlot.default)
export(metaPlot.metaDF)
export(metaPlot.metaM)
export(plotDF)
export(forestDF)
export(forestDF.metabin)
export(forestDF.metacont)
export(forestDF.meta.MH)
export(forestDF.meta.DSL)
export(forestDF.rma.mh)
export(forestDF.rma.peto)
export(forestDF.rma.uni)
export(ciGen)
export(ciGen.rma.mh)
export(ciGen.rma.peto)
export(ciGen.rma.uni)
export(dropRows)
export(matrixify)

## add summary rows
## export(addSummary)

###########S3methods#############
S3method(meta2DF, metabin)
S3method(meta2DF, metacont)
S3method(meta2DF, meta.MH)
S3method(meta2DF, meta.DSL)
S3method(meta2DF, rma.mh)
S3method(meta2DF, rma.peto)
S3method(meta2DF, rma.uni)
S3method(metaDF2Matrix, metabinDF)
S3method(metaDF2Matrix, metabinDF)
S3method(forestDF, metabin)
S3method(forestDF, metacont)
S3method(forestDF, meta.MH)
S3method(forestDF, meta.DSL)
S3method(forestDF, rma.mh)
S3method(forestDF, rma.peto)
S3method(forestDF, rma.uni)
S3method(ciGen, rma.mh)
S3method(ciGen, rma.peto)
S3method(ciGen, rma.uni)
S3method(drawMeta, metabinM)
S3method(drawMeta, metacontM)
S3method(print, metabinDF)
S3method(print, metaPar)
